#!/bin/ksh

daemon="/usr/local/bin/tesd"
daemon_flags="--config /etc/tesseras/config.toml"
daemon_logger="daemon.info"
daemon_user="_tesseras"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"
rc_bg=YES
rc_reload=NO

rc_cmd $1
